* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-text {
    font-size: 20px;
    color: #fcfafa;
    text-align: left;


}

/*--------body--------*/
body {
    line-height: 1.2;
}

/*--------logo--------*/
.logo {
    height: 70px;
    padding: 10px;
}
/*--------nav--------*/
nav{
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
}

/*--------link--------*/
a {
    color:#fcfafa; 
    text-decoration: none;
    
}

/*--------header--------*/
header {
    height: 80px;
    background-color: #01200b;
    border-bottom: 1px solid #070606;
    padding: 10px 0;
}
.header-wrapper {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    text-decoration: none;
}

/*--------hero--------*/
.hero {
    background-image: url("../bilder/hero.jpg");
    background-size: cover;
    background-position: center;
    min-height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--------hero-content--------*/
.hero-content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    color: #000000;
}

/*--------h1--------*/
h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;

}
/*--------h2--------*/
h2 {
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;

}

/*--------p--------*/
p.text1 {
    font-size: 13px;
    margin-bottom: 20px;
    text-align: center;
    color: #f1f1f1;
}

p.intro-text2 {
    font-size: 13px;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

/*--------button--------*/
.wrapper-button {
    background-color: #01200b00;
    color: #fcfafa00;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
}

.hero-button {
background-color: #01200b00;
padding: 0%;
border: 0;
color: rgb(0, 0, 0);
font-size: medium;
font-style: bold;
cursor: pointer;
}
button:hover {
    background-color: #f1f1f100;
}

/*--nära till naturen--*/
.nära {
    background-color: rgba(13, 70, 9, 0.084);

}

/*--------card--------*/
.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 30%;
}

.card img {
    width:100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 15px;
}

.card{
    max-width: 1000px;
    margin: 10px auto;
    padding:  50px;
    color: #4b4b4b;
}

/*--planera--*/
.planera {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    margin: 0%;
    background-color: #05370d42;

}

.planera-norrgläntan {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.6;
    margin: 0%;
    
}

.planera.h2 {
    margin: 0 0 20px;
    font-size: 2rem;
}

.planera-button {
    padding: 12px 24px;
    background-color: #00000000;
    border: 1px solid #000;
    cursor: pointer;
    text-align: justify;
    flex-direction: column;
    margin: 5%;
}

footer {
    background-color: #05370d42;
    text-align: left;
    padding-bottom: 10%;
}

.logo.vit {
    

}